<% @ad.comments.each do |comment| %>
    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            <%= comment.member.email %>
            <span class="pull-right"><%= l comment.created_at %></span>
            <p><%= comment.body %></p>
        </div>
    </div>

    <hr>
<% end %>
