<p>Olá, <%= @resource.profile_member.full_name %>!</p>

<p>Alguém requisitou um link para alterar a senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Altere minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isso, por favor ignore esse email.</p>
<p>Sua senha não será alterada se você não acessar esse link e cadastrar uma nova senha.</p>
