<div class="row carousel-holder">

    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <%= link_to (image_tag @carousel.first.picture.url(:large)), site_ad_detail_path(@carousel.first), remote: true, data: { push: :partial}, class: "slide-image" %>
                </div>
                <div class="item">
                    <%= link_to (image_tag @carousel.second.picture.url(:large)), site_ad_detail_path(@carousel.second), remote: true, data: { push: :partial}, class: "slide-image" %>
                </div>
                <div class="item">
                    <%= link_to (image_tag @carousel.third.picture.url(:large)), site_ad_detail_path(@carousel.third), remote: true, data: { push: :partial}, class: "slide-image" %>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

</div>
